body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

/* 头部样式 */
header {
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
}

header div:first-child {
  /* background: rgb(45, 206, 255); */
  background-image: url('../images/bg01.jpg');
  height: 100px;
  position: relative;
  /* background-size: cover; */
  padding: 3rem;
}

header div:last-child {
  display: flex;
  height: auto;
  background: rgb(255, 255, 255);
  padding: 0.5rem;
}

/* 头像 */
.toux {
  position: absolute;
  left: 20%;
  top: 10%;
  transform: rotate(15deg);
}

/* 项目导航样式 */

.content-nav {
  background-color: #f0f4f0;
}

.content-nav ul {
  width: 1000px;
  margin: auto;
  overflow: hidden;
  height: 70px;
}

.content-nav ul a {
  position: relative;
  padding-top: 8px;
  float: left;
  width: 20%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 3rem;
  height: 62px;
}

.content-nav ul a {
  color: #000201;
  vertical-align: middle;
  text-decoration: none;
}

.content-nav ul a img {
  width: 35px;
  height: 35px;
}

.content-nav ul a:hover {
  background-color: rgba(166, 221, 247, 0.5);
  border-top: 0px solid;
  border-radius: 0.5rem;
  color: #ffffff;
}

.content-nav ul a:hover a {
  color: #696d71;
  display: block;
  width: 100%;
}
/* .bg01 > div > div:img {
  background-size: cover;
  width: 100%;
  height: 30px;
} */

/* .touxiang {
  position: absolute;
  top: -80%;
  left: 20%;
  transform: rotate(15deg);
  z-index: 3;
} */

/* .touxiang img {
  width: 6.3rem;
} */

/* 栏目 */
/* .div1 {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 1rem 19rem;
  position: relative;
  font-size: 0.5rem;
} */

/* .div1 > a {
  text-decoration: none;
  color: black;
  padding: 0px 2.7rem;
  display: inline-block;
}

.div1 > a:hover {
  text-decoration: none;
  color: black;
  padding: 0rem 2.7rem;
}

.div1 > a > div:first-child img {
  display: block;
  width: 35px;
  height: 35px;
}

.div1 > a:last-child > div:first-child img {
  display: block;
  width: 35px;
  height: 35px;
} */

.center-box {
  display: flex;
  justify-content: center;
}

.center-box > div {
  width: 80%;
  display: flex;
}

/* 左边矩形盒子 */
.center-box .left-box {
  flex: 2;
  background-color: rgb(85, 221, 231);
  padding-top: 11rem;
  padding-right: 1rem;
}

/* 右边矩形盒子 */
.center-box .right-box {
  flex: 9;
}

.right-box {
  padding: 1rem 1rem 1rem 0rem;
}

/* 右边头部盒子*/
.center-box .right-box01 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 4px solid rgb(88, 240, 232);
  width: 100%;
  font-size: 1.7rem;
  padding: 10px;
}

/* 左边白色部分 */
.center-box .left-box01 {
  flex: 3;
  background-color: white;
  border-radius: 0rem 3rem 3rem 0rem;
  font-size: 1.2rem;
}

/* 二维码 */
.div2 {
  display: flex;
  text-align: center;
  padding: 15px 1rem;
}

/* 二维码样式 */
.div2 > div {
  flex: 1;
  padding: 1rem;
}

/* 二维码鼠标指针样式 */
.div2 > div:hover {
  cursor: pointer;
  border-radius: 0.7rem;
  background-color: rgba(0, 255, 255, 0.39);
}

.div2 > div > div:first-child {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.div2 > div > div:first-child img {
  display: inline;
  width: 8rem;
  height: auto;
  border: 3px solid rgb(88, 240, 232);
}
.yangshi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid rgb(88, 240, 232);
  width: 100%;
  padding: 1rem 1rem;
  font-size: 1.6rem;
}

.yangshi02 {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 2rem;
}

.yangshi02 div {
  font-size: 1.7rem;
}

.yangshi03 {
  font-size: 1.1rem;
  padding-top: 3rem;
  padding-left: 7rem;
}

.address > div {
  display: flex;
  margin: 3rem;
  height: 100%;
  /* align-items: center; */
}

/* .address span {
  margin-top: 1rem;
} */

/* 底部图片 */
.tupian {
  margin-top: 4rem;
}

.tupian img {
  width: 100vw;
  height: 130px;
}

/* 栏目鼠标指针效果
.lan:hover {
  background-color: rgba(59, 197, 221, 0.329);
  cursor: pointer;
} */

/* 中间栏目logo和联系我们字样样式 */
.left-logo {
  display: flex;
  height: 100%;
  align-items: center;
}

/* 地图样式 */
.map {
  cursor: pointer;
}

.map img {
  margin-right: 2rem;
}
