body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

/* .bg01 > div > div:img {
  background-size: cover;
  width: 100%;
  height: 30px;
} */

.touxiang {
  position: absolute;
  top: -50%;
  left: 18%;
  transform: rotate(12deg);
  z-index: 3;
}

.touxiang img {
  width: 6rem;
}

.div1 {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0rem 15rem;
  padding-top: -6rem;
  position: relative;
}

.div1 > a {
  text-decoration: none;
  color: black;
  padding: 0rem 2.7rem;
}

.div1 > a:hover {
  text-decoration: none;
  color: black;
  padding: 0rem 2.7rem;
}

.div1 > a > div:first-child img {
  display: block;
  width: 3rem;
  height: auto;
}

.div1 > a:last-child > div:first-child img {
  display: block;
  width: 3.6rem;
  height: 52px;
}

.center-box {
  display: flex;
  justify-content: center;
}

.center-box > div {
  width: 80%;
  display: flex;
}

.center-box .left-box {
  flex: 2;
  background-color: rgb(88, 240, 232);
  padding-top: 11rem;
  padding-right: 1rem;
}

.center-box .right-box {
  flex: 9;
}

.right-box {
  padding: 1rem 1rem 1rem 0rem;
}

.center-box .right-box01 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 4px solid rgb(88, 240, 232);
  width: 99.4%;
  font-size: 1.2rem;
  padding: 10px;
}

.center-box .left-box01 {
  flex: 3;
  background-color: white;
  border-radius: 0rem 3rem 3rem 0rem;
  font-size: 1.2rem;
}

.div2 {
  display: flex;
  text-align: center;
  padding: 15px 1rem;
}

/* 二维码样式 */
.div2 > div {
  flex: 1;
  padding: 1rem;
}

/* 二维码鼠标指针样式 */
.div2 > div:hover {
  cursor: pointer;
  border-radius: 0.7rem;
  background-color: rgba(0, 255, 255, 0.39);
}

.div2 > div > div:first-child img {
  display: inline;
  width: 3rem;
  height: auto;
  border: 3px solid rgb(88, 240, 232);
}
.yangshi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid rgb(88, 240, 232);
  width: 98.1%;
  padding: 1rem 1rem;
}

.yangshi02 {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.yangshi03 {
  font-size: 1.1rem;
  padding-top: 3rem;
  padding-left: 7rem;
}

.address > div {
  margin: 3rem;
  height: 100%;
  align-items: center;
  display: flex;
}

/* 底部图片 */
.tupian {
  margin-top: 4rem;
}

.tupian img {
  width: 100vw;
  height: 90px;
}

/* 栏目鼠标指针效果 */
.lan:hover {
  background-color: rgba(59, 197, 221, 0.329);
  cursor: pointer;
}

/* 中间栏目logo和联系我们字样样式 */
.left-logo {
  display: flex;
  height: 100%;
  align-items: center;
}

/* 地图样式 */
.map {
  cursor: pointer;
}
